<div class="border border-red-700 mx-5 my-5" id="image-<%= image.id %>">
  <div class="flex justify-end px-5 py-5">
    <turbo-frame>
      <%= form_with(url: car_car_sells_car_sell_image_path(image.car_sell.car, image), method: :delete) do %>
        <%= submit_tag('X', data: { action: "click->carsell--upload#delete" }) %>
      <% end %>
    </turbo-frame>
  </div>
  <div>
    <%= image_tag(image.image_url(:thumb), class: "px-5 lg:w-60 lg:h-60 object-cover") if image.image %>
  </div>
</div>
