<% content_for :title, "Editing car brand" %>

<h1>Editing car brand</h1>

<%= render "form", car_brand: @car_brand %>

<br>

<div>
  <%= link_to "Show this car brand", admin_car_brand_path(@car_brand) %> |
  <%= link_to "Back to car brands", admin_car_brands_path %>
</div>
