<div>
  <%= link_to admin_car_brands_path, class: 'text-red-800 hover:text-red-600' do %>
    &larr; <%= t('views.car_brands.back_show', default: 'Back to brand details') %>
  <% end %>
</div>

<% content_for :title, t('views.car_brands.edit_title', default: 'Editing Car Brand') %>

<h1 class="font-bold text-4xl mb-6">
  <%= t('views.car_brands.edit_heading', default: 'Edit Car Brand') %>
</h1>

<%= render "form", car_brand: @car_brand %>
