<div>
  <%= link_to admin_car_brands_path, class: 'text-red-800 hover:text-red-600' do %>
    &larr; <%= t('views.car_brands.back', default: 'Back to car brands') %>
  <% end %>
</div>

<% content_for :title, t('views.car_brands.new_title', default: 'New car brand') %>

<h1 class="font-bold text-4xl mb-6">
  <%= t('views.car_brands.new_heading', default: 'New Car Brand') %>
</h1>

<%= render "form", car_brand: @car_brand %>
