<div>
  <%= link_to(car_shops_path, class: 'text-red-800') do %>
    &larr; <%= t('views.history_images.back') %>
  <% end %>
</div>

<% content_for :title, "Editing car shop" %>

<h1>Editing car</h1>

<%= render "form", car_shop: @car_shop %>

<br>
