<div id="flash">
  <% flash.each do |key, message| %>
    <% if message.present? %>
      <div class="<%= key == "notice" ? "text-green-600" : "text-red-600" %>">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</div>