<% if current_user.api_key %>
  <p>Your API Key: <code><%= current_user.api_key.api_key %></code></p>
  <%= button_to "Delete API Key", api_key_settings_path, method: :delete, data: { confirm: "Are you sure?" } %>
<% else %>
  <%= link_to "Create API Key", new_api_key_path, class: 'bg-red-700 px-3 py-2 rounded text-white' %>
<% end %>
