<h1>New Car Shop</h1>
<%= form_with model: @car_shop, url: admin_car_shops_path, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit 'Create' %>
  </div>
<% end %>
