<div>
  <%= link_to(admin_car_shops_path, class: 'text-red-800') do %>
    &larr; <%= t('views.cars.back') %>
  <% end %>
</div>

<h1>New Car Shop</h1>

<%= render "form", car_shop: @car_shop %>

<br>
