<h1 class="text-xl font-bold mb-4">Approved Car Shops</h1>

<table class="table-auto w-full border-collapse">
  <thead>
    <tr>
      <th class="px-4 py-2 border">Name</th>
      <th class="px-4 py-2 border">Owner</th>
      <th class="px-4 py-2 border">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @car_shops.each do |shop| %>
      <tr>
        <td class="border px-4 py-2"><%= shop.name %></td>
        <td class="border px-4 py-2"><%= shop.user.email %></td>
        <td class="border px-4 py-2">
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-4">
  <%= will_paginate(@car_maintenances) %>
</div>
