<h1 class="text-xl font-bold mb-4">Approved Car Shops</h1>

<div>
  <table class="w-full border border-red-500">
    <thead>
      <tr class="py-2 bg-red-100 text-red-800">
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Owner</th>
        <th class="px-4 py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @car_shops.each do |shop| %>
        <tr>
          <td class="px-4 py-2 text-center"><%= shop.name %></td>
          <td class="px-4 py-2 text-center"><%= shop.user.email %></td>
          <td class="px-4 py-2 text-center">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="mt-4">
  <%= will_paginate(@car_maintenances) %>
</div>
