<h1>Car Shop Name : <%= @car_shop.name %></h1>

<div 
  data-controller="map" 
  data-map-latitude-value="<%= @car_shop.lat %>" 
  data-map-longitude-value="<%= @car_shop.lng %>"
  class="w-full h-96"
  id="map"
>
</div>
