<div id="<%= dom_id car %>">
  <p>
    <strong>Name:</strong>
    <%= car.name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>
<hr />
  <p>
    <strong>Image:</strong>
<<<<<<< HEAD
    <%= car.image %>
=======
>>>>>>> main
  </p>
</div>
