<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Carhist</title>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-white border-2">
    <div class="w-full max-w-sm text-center">
      <%= yield %>
  </body>
</html>
